{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<h1>Welcome to the ticketing system of Aaron and Izidor</h1>
    <p>
        First time on the site? <a href="{{ path("app_register") }}">register</a>
    </p>
    <p> Already registered user?     <a href="{{ path("app_login") }}">login</a>
    </p>
{% endblock %}
