{% extends 'base.html.twig' %}

{% block title %}Hello LogIssueController!{% endblock %}

{% block body %}
<h2>New Ticket</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock %}
